.editable{
	text-decoration: underline;
	text-decoration-color: #00b000;
	text-decoration-style: wavy;
}

@media print {
	.editable {
		text-decoration: none;
	}
}

p {
	line-height: 1em;
}

.signature {
	width: 30em;
	height: 15em;
	background: #f2f2f2;
	padding: 1em;
	position: relative;
	margin-top: 5em;
}

.bottom {
	position:absolute;
	bottom: 1em;
	right: 1em;
	font-size: large;
}